body {
  font-family: Arial, sans-serif;
  margin: 5px 30px;
  background-color: #f5f5f5;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ddd;
  padding: 10px 20px;
}

.navbar input {
  width: 200px;
  padding: 5px;
}

.navbar button {
  padding: 6px 12px;
  cursor: pointer;
  background-color: #2b78e3;
  color: white;
}

/* Layout */
.container {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

/* Left */
.left {
  flex: 2;
}

.card {
  background: white;
  border: 2px solid #000;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Fix spacing */
.card h2 {
  margin: 0;
  font-size: 28px;
}

.type {
  font-style: italic;
  margin: 4px 0;
}

.card-left {
  flex: 1;
}

.card-right {
  flex: 1;
}

.likeBtn {
  margin-top: 10px;
  background: #fed966;
  border: 2px solid #333;
  padding: 8px 14px;
  font-weight: bold;
  box-shadow: 3px 3px 0 #333;
}

/* Right */
.right {
  flex: 1;
  background: white;
  border: 2px solid #000;
  padding: 15px;
  height: fit-content;
}

#addDefBtn {
  width: 100%;
  background: #92c47d;
  border: 2px solid #000;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 3px 3px 0 #333;
}
