<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Date and Time</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="datetime-card">
        <h1 class="title">Date and Time</h1>
        <p class="description">The current time and date.</p>

        <div class="datetime-display">
          <div class="date">{{ date }}</div>
          <div class="time">{{ time }}</div>
        </div>
      </div>
    </div>
  </body>
</html>
